<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/web..js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>home</title>
</head>
<body>
    <!--
        <center>
        <h1>Home Page</h1>
        <div>
            <p>Name - {{name}}</p>
            <p>Biodata - {{Biodata}}</p>
            <p>Learned - {{Learned}}</p>
        </div>
        <div>
            {% for n in Learned %}
            <div>{{forloop.counter}}{{n}}</div>
            {% endfor %}
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                </tr>
                {% for d in student_details %}
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.mobile}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>
    _________________________________________________________
    To Add CSS and JS files in html 
    got to settings and add this line the last 
    
    STATICFILES_DIRS =[
    BASE_DIR, "static"
    ]


    then add /static/fileNameAndPath/
    __________________________________________________________
    <div class="headingBox">
        <h1 class="headingLine">Home Page</h1>
    </div>
    <div class="buttonBox">
        <button class="btn1" onclick="myFunc()">Click Me</button>
    </div>

    -->

</body>
</html>